:root {
	--creda-yellow: #fdc627;
	--creda-purple: #2c0046;
	--ellipse-green: #9bf5af;
	--creda-gray: #18191f;
	--creda-black: #0b0d17;
	--creda-text-gray: #d9dbe1;
	--creda-torquoise: #2ec5ce;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

.bg-creda-yellow {
	background-color: var(--creda-yellow);
}

.bg-creda-black {
	background-color: var(--creda-black);
}

.bg-creda-purple {
	background-color: var(--creda-purple);
}

.creda-color-text-gray {
	color: var(--creda-text-gray);
}

.section-content {
	max-width: 1440px;
	margin: 0 auto;
}

html.sr .section-content {
	visibility: hidden;
}

.creda-header {
	background-color: var(--creda-purple);
}

.menu-open .creda-pay-title {
	position: fixed;
	z-index: 30;
}

.menu-open .nav-links {
	display: flex;
	flex-direction: column;
	position: fixed;
	padding-top: 20vh;
	align-items: center;
	background-color: var(--creda-purple);
	width: 100vw;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

.menu-open .nav-icon-hamburger {
	display: none;
}

.menu-open .nav-icon-close {
	display: block;
}

.nav-links a:hover {
	text-decoration: underline;
	font-weight: 500;
}

.testimonials-section {
	background-color: var(--creda-purple);
}

.testimonial-container {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.visible-testimonial.testimonial-container {
	position: relative;
	visibility: visible;
	opacity: 1;
	margin-right: 0;
	transition: opacity 0.9s;
	animation: slide 0.7s linear;
}

@keyframes slide {
	0% {
		transform: translateX(50%);
	}

	100% {
		transform: translateX(0);
	}
}

.testimonials-arrow-down {
	content: '';
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #fff;
	width: 0;
	height: 0;
	margin: 0 auto;
}

.testimonial-pagination-item {
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 80%;
	opacity: 0.5;
	margin: 0 0.375rem;
}

.testimonial-pagination-item.active-tab {
	background-color: #fff;
	opacity: 1;
}

.color-creda-gray {
	color: var(--creda-gray);
}

.hiring-text {
	font-family: 'Nanum Pen Script', cursive;
	color: var(--creda-torquoise);
}

.shapes-image {
	position: absolute;
	right: 0;
	bottom: -15px;
}

footer {
	overflow: hidden;
}

html.sr footer .section-content {
	visibility: visible;
}

html.sr footer .section-content,
html.sr .features-section .section-content,
html.sr .deals-section .section-content {
	visibility: visible;
}

@media (max-width: 1023px) {
	.creda-header .phone-image-container {
		max-width: 14rem;
	}
}

@media (min-width: 1024px) {
	html.sr footer .features-section .section-content,
	html.sr .deals-section .section-content {
		visibility: visible;
	}

	.footer-terms-link::before {
		content: '|';
		font-size: 6px;
		vertical-align: middle;
		margin: 0 8px;
		padding: 2.3px 0;
		font-weight: 100;
		background-color: var(--creda-text-gray);
	}

	.footer-terms-link:first-child::before {
		content: '';
	}
}

@media (min-width: 1280px) {
	.creda-tag-line {
		line-height: 4.2rem;
	}

	.line-height-xl {
		line-height: 5.15rem;
	}

	.testimonials-section .section-content {
		padding: 80px 165px;
	}

	.manage-section-title {
		font-size: 4rem;
	}
}
